:root {
     --background: rgb(244,244, 248);
    --background2: rgb(213, 204, 227);
    --text:rgb(31, 32, 33);
    --taskBox: rgb(180, 169, 196)
}

body {
    background-color: var(--background);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    color: var(--text)
}